/*Обнуление*/

:root {
    --dark-background-color: #313979;
    --background-color: #d8ddff;
    --garmonic-bg-color: #e3e7ff;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/*--------------------*/

/* Обычный */
@font-face {
    font-family: "VKSansDisplay";
    font-style: normal;
    font-weight: 400;

    /* Браузер сначала попробует найти шрифт локально */
    src: local("VKSansDisplay-Regular");
}

@font-face {
    font-family: "VKSansDisplay";
    font-style: normal;
    font-weight: 500;

    /* Браузер сначала попробует найти шрифт локально */
    src: local("VKSansDisplay-Medium");
}

@font-face {
    font-family: "VKSansDisplay";
    font-style: normal;
    font-weight: 700;

    /* Браузер сначала попробует найти шрифт локально */
    src: local("VKSansDisplay-Bold");
}


body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/*body {*/
/*    font-family: Poppins, sans-serif;*/
/*}*/

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1470px;
    margin: 0px auto;
    padding: 0px 15px;
}


#title {
    width: 900px;
    min-height: 18px;
    margin: 10px auto;
    text-align: center;
    font-size: 16px;
    color: #E2E2E2;
    font-weight: 400;
}

#title:hover {
    color: #777;
}

#viewer.spreads {
    width: 900px;
    height: 600px;
    box-shadow: 0 0 4px #ccc;
    border-radius: 5px;
    padding: 0;
    position: relative;
    margin: 10px auto;
    background: white url('ajax-loader.gif') center center no-repeat;
    top: calc(50vh - 400px);
}

#viewer.spreads .epub-view > iframe {
    background: white;
}

#viewer.scrolled {
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    position: relative;
    background: url('ajax-loader.gif') center center no-repeat;

}

#viewer.scrolled .epub-container {
    background: white;
    box-shadow: 0 0 4px #ccc;
    margin: 10px;
    padding: 20px;
}

#viewer.scrolled .epub-view > iframe {
    background: white;
}

#prev {
    left: 0;
}

#next {
    right: 0;
}

#toc {
    display: block;
    margin: 10px auto;
}

@media (min-width: 1000px) {
    #viewer.spreads:after {
        position: absolute;
        width: 1px;
        border-right: 1px #000 solid;
        height: 90%;
        z-index: 1;
        left: 50%;
        margin-left: -1px;
        top: 5%;
        opacity: .15;
        box-shadow: -2px 0 15px rgba(0, 0, 0, 1);
        content: "";
    }

    #viewer.spreads.single:after {
        display: none;
    }

    #prev {
        left: 40px;
    }

    #next {
        right: 40px;
    }
}

.arrow {
    position: fixed;
    top: 50%;
    margin-top: -32px;
    font-size: 64px;
    color: #E2E2E2;
    font-family: arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    text-decoration: none;
}

.navlink {
    margin: 14px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ccc;
}

.arrow:hover, .navlink:hover {
    color: #777;
}

.arrow:active, .navlink:hover {
    color: #000;
}

#book-wrapper {
    width: 480px;
    height: 640px;
    overflow: hidden;
    border: 1px solid #ccc;
    margin: 28px auto;
    background: #fff;
    border-radius: 0 5px 5px 0;
    position: absolute;
}

#book-viewer {
    width: 480px;
    height: 660px;
    margin: -30px auto;
    -moz-box-shadow: inset 10px 0 20px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 10px 0 20px rgba(0, 0, 0, .1);
    box-shadow: inset 10px 0 20px rgba(0, 0, 0, .1);
}

#book-viewer iframe {
    padding: 40px 40px;
}

#controls {
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    text-align: center;
    display: none;
}

#controls > input[type=range] {
    width: 400px;
}

#navigation {
    width: 400px;
    height: 100vh;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    background: #777;
    -webkit-transition: -webkit-transform .25s ease-out;
    -moz-transition: -moz-transform .25s ease-out;
    -ms-transition: -moz-transform .25s ease-out;
    transition: transform .25s ease-out;

}

#navigation.fixed {
    position: fixed;
}

#navigation h1 {
    width: 200px;
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    margin-bottom: 10px;
}

#navigation h2 {
    font-size: 14px;
    font-weight: normal;
    color: #B0B0B0;
    margin-bottom: 20px;
}

#navigation ul {
    padding-left: 36px;
    margin-left: 0;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 340px;
}

#navigation ul li {
    list-style: decimal;
    margin-bottom: 10px;
    color: #cccddd;
    font-size: 12px;
    padding-left: 0;
    margin-left: 0;
}

#navigation ul li a {
    color: #ccc;
    text-decoration: none;
}

#navigation ul li a:hover {
    color: #fff;
    text-decoration: underline;
}

#navigation ul li a.active {
    color: #fff;
}

#navigation #cover {
    display: block;
    margin: 24px auto;
}

#navigation #closer {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    color: #cccddd;
    width: 24px;
}

#navigation.closed {
    -webkit-transform: translate(-400px, 0);
    -moz-transform: translate(-400px, 0);
    -ms-transform: translate(-400px, 0);
}

svg {
    display: block;
}

.close-x {
    stroke: #cccddd;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
}

.close-x:hover {
    stroke: #fff;
}

#opener {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    stroke: #E2E2E2;
    fill: #E2E2E2;

}

#opener:hover {
    stroke: #777;
    fill: #777;
}

/* ------------------------------ */


/*---------------------------------*/
/* REGISTER FORM */


/*==================Translate popup======================*/

.modal {
    display: none;
}

.modal.active .modal-content {
    transform: rotateX(0) !important;
}

.modal .modal-wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    perspective: 2000px;
}

.modal .modal-wrapper .modal-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    transition: all 0.4s;
    z-index: 5;
}

.modal .modal-wrapper .modal-content {
    position: relative;
    z-index: 10;
    width: 500px;
    max-width: 90%;
    background-color: #220c54;
    color: #fff;
    border-radius: 4px;
    transform-style: preserve-3d;
    transform: rotateX(-70deg);
    transition: transform 0.5s;
}

.modal .modal-wrapper .modal-content .modal-header {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px 30px;
    border-radius: 4px 4px 0 0;
    position: relative;
    cursor: all-scroll;
}

.modal .modal-wrapper .modal-content .modal-header .modal-title {
    font-size: 30px;
}

.modal .modal-wrapper .modal-content .modal-header .modal-close {
    position: absolute;
    top: 50%;
    right: 20px;
    padding: 10px;
    font-size: 40px;
    box-sizing: border-box;
    cursor: pointer;
    transform: translateY(-50%) translateY(-5px);
    transition: all 0.4s;
}

.modal .modal-wrapper .modal-content .modal-header .modal-close:hover {
    color: #5fc6da;
}

.modal .modal-wrapper .modal-content .modal-body {
    padding: 20px 30px;
    font-size: 17px;
    line-height: 25px;
}

.modal .modal-wrapper .modal-content .modal-action {
    padding: 10px 30px 20px;
}

.modal .modal-wrapper .modal-content .modal-action .close {
    background-color: #d0098d;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 2px;
    transition: all 0.4s;
}

.modal .modal-wrapper .modal-content .modal-action .close:hover {
    background-color: #af0576;
}

a.show {
    background-color: #4e2b9e;
    padding: 10px 15px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s;
}

a.show:hover {
    background-color: #220c54;
}

.content {
    margin: 12px;
    color: #220c54;
    font-weight: bold;
}

iframe::selection {
    background: #FF0099;
    color: black;
    text-shadow: none;
}

/* --------------------------------------------- */

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1470px;
    margin: 0px auto;
    padding: 0px 15px;
}

/* ---------------------------------------------------------------------------- */

/* PC */
@media (max-width: 1470px) {
    [class*="__container"] {
        max-width: 970px;
    }
}

/* TABLET */
@media (max-width: 991.98px) {
    [class*="__container"] {
        max-width: 750px;
    }
}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: none;
    }
}

/* =========================INDEX.HTML====================================== */

/*--------------------------HEADER----------------------------------------*/

.header {
    font-family: "VKSansDisplay", sans-serif;
    background-color: #4D69FA;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    transform: translateY(-100%);
    transition: transform 0.5s;
}

.header__container {
    display: flex;
    min-height: 70px;
    align-items: center;
}

.header__logo {
    margin-left: 40px;
    z-index: 10;
}

.header__logo img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;

}

.header__menu {
    flex: 1 1 auto;
}

.header_show {
    transform: translateY(0%);
    transition: transform 0.5s;
}

.menu {
    display: flex;
    justify-content: center;
    margin: 0px 40px 0px 32px;
}

.menu__icon {
    display: none;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.menu__item {
    color: #fd2155;
}

.menu__item a {
    font-size: 1.6rem;
    color: #ffffff;
    line-height: 5rem;
    transition: color 0.3s, background-color 0.3s;
}

.menu__item a:hover {
    color: #c1c1f7;
    transition: color 0.3s, background-color 0.3s;
}

@media (max-width: 991.98px) {
    .menu__list {
        gap: 150px;
    }

    .header__container {
        min-height: 90px;
    }

    .header__items svg {
        transform: scale(1.2);
    }

    .header__items svg {
        margin: 0px 5px;
    }

    .header__logo,
    .header__items {
        margin: 0;
    }
}

@media (max-width: 767.98px) {
    .menu__icon {
        z-index: 10;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }

    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #ffffff;
    }

    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span {
        transform: scale(0) translate(0px, -50%);
    }

    .menu__icon._active::before {
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }

    .menu__icon._active::after {
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }

    .menu__body {
        background-color: rgba(0, 0, 0, 0.9);
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 150px 30px 30px 60px;
        transition: all 0.3s ease;
        overflow: auto;
    }

    .menu__body._active::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 90px;
        background-color: #181818;
    }

    .menu__list li {
        flex-wrap: wrap;
        margin: 0px 0px 20px 0px;
        z-index: 10;
    }

    .menu__list li:last-child {
        margin: 0px;
    }

    .menu__item a {
        font-size: 2rem;
    }

    .menu__body._active {
        left: 0;
    }

    .header__items {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 0px 30px 30px 60px;
        transition: all 0.3s ease;
        overflow: auto;
    }

    .header__items._active {
        top: 500px;
        left: 0;
    }

    .header__items svg {
        height: 50px;
        transform: scale(1.3);
    }

    .header__items:last-child {
        margin: 0px;
    }

    .menu__list {
        display: block;
        justify-content: flex-start;
        gap: 0px;
    }

    .menu {
        justify-content: flex-end;
    }
}

.header__items {
    margin-right: 40px;
    display: flex;
    gap: 20px;
}

.header__item {
    fill: #909096;
    transition: fill 0.3s;
}

.contact:hover {
    fill: #08fdd8;
    transition: fill 0.3s;
}

/* Фуллскрин */

.full-screen {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.full-screen__body {
    padding: 50px 15px;
    padding-top: 15%;
    background-color: rgba(77, 105, 250, 0.5);
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

.full-screen__title {
    font-size: 96px;
    letter-spacing: 10px;
    font-weight: 700;
    margin: 35px 0px 35px 0px;
    color: #fff;
    font-family: "VKSansDisplay", sans-serif;
    text-transform: none;
}

.full-screen__text {
    font-size: 24px;
    color: #fff;
    margin: 0px;
}

.full-screen__circular-arrow {
    cursor: pointer;
    width: 58px;
    height: 58px;
    border: 2px solid #fff;
    border-radius: 100%;
    position: relative;
    animation: down 1.5s infinite;
    margin: 18px auto 42px auto;
    margin-top: 10em;
    box-sizing: border-box;
    color: #fff;
    z-index: 2;
}

.full-screen__circular-arrow::before {
    content: '';
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}


.full-screen__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* -------------info------------------- */
.info {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    position: relative;
    background-color: #F2F4F8;

}

.info__content {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    min-width: 100%;
}

.info__title {
    font-size: 28px;
    font-weight: 700;
    margin: 0px 0px 30px 0px;
    color: #262626;
    font-family: "VKSansDisplay", sans-serif;
    flex: 1 1 100%;
    letter-spacing: 1px;
}

.info__text {
    font-family: "VKSansDisplay", sans-serif;
    color: #fff;
    font-size: 1.6rem;
    line-height: 1.5;
    letter-spacing: 2px;
}

.info__text p {
    padding: 15px 0px;
}

/*books----------------------------------------------*/

.books {
    font-family: "VKSansDisplay", sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.books_item {
    min-width: 300px;
    min-height: 400px;
    max-width: 300px;
    max-height: 400px;
    background-color: #8d8dc9;
    margin: 30px 0px;
    transition: box-shadow 0.3s;
    border-radius: 10px;
    perspective: 1000px;
}

.books_item:hover {
    box-shadow: 0px 0px 20px 10px rgba(34, 60, 80, 0.2);
    transition: box-shadow 0.3s;
}

.books__content {
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
    text-align: center;
}

.books__title {
    font-size: 24px;
    color: #fff;
    margin-bottom: 20px;
}

.book__item-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.book__item-info li {
    display: flex;
    color: #fff;
}

.book__item-info span {
    display: flex;
    flex-direction: column;
    color: #272773;
    margin-right: 10px;
    margin-bottom: 15px;
}

.books__btn {
    padding: 15px 20px;
    background-color: #7272cf;
    max-width: 100px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.5s;
}

.books__btn:hover {
    background-color: #5555bd;
    transition: background-color 0.5s;
}

.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-top-big {
    margin-top: 5rem !important;
}


.heading-primary {
    color: #fff;
    text-transform: uppercase;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    -webkit-animation-name: moveInLeft;
    animation-name: moveInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    /*
          animation-delay: 3s;
          animation-iteration-count: 3;
          */
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    -webkit-animation: moveInRight 1s ease-out;
    animation: moveInRight 1s ease-out;
}

.heading-secondary {
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: transparent;
    letter-spacing: 0.2rem;
    line-height: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    color: #eee;
}

.btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 0.5rem;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    position: relative;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
}

.btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
    -webkit-transform: scaleX(1.4) scaleY(1.6);
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active, .btn:focus {
    outline: none;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
    background-color: #fff;
    color: #777;
}

.btn--white::after {
    background-color: #fff;
}

.btn--green {
    background-color: rgb(82, 108, 244);
    color: #fff;
}

.btn--green::after {
    background-color: #55c57a;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.section-plans {
    padding: 4rem 0 4rem 0;
}

.card {
    -webkit-perspective: 150rem;
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 40rem;
    cursor: pointer;
}

.card__side {
    height: 30rem;
    -webkit-transition: all 0.8s ease;
    transition: all 0.8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.card__side--front {
    background-color: #fff;
}

.card__side--front-1 {
    background: linear-gradient(-45deg, #4D69FA, #2859DF);
}

.card__side--back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card__side--back-1 {
    background: linear-gradient(-45deg, #4D69FA, #2859DF);
}

.card__side--back-2 {
    background: linear-gradient(-45deg, #ffec61, #f321d7);
}

.card__side--back-3 {
    background: linear-gradient(-45deg, #9a4eff, #24ff72);
}

.card:hover .card__side--front-1 {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
}

.card__title {
    height: 20rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.card__title--1 .fas {
    font-size: 5rem;
}

.card__title--2 .fas {
    font-size: 5rem;
}

.card__title--3 .fas {
    font-size: 5rem;
}

.card__heading {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    width: 75%;
}

.card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.card__details {
    padding: 0 2rem 2rem;
    color: #fff;
}

.card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
}

.card__details ul li {
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
}

.card__details ul li:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.card__price-box {
    text-align: center;
    color: #fff;
    margin-bottom: 8rem;
}

.card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase;
}

.card__price-value {
    font-size: 6rem;
    font-weight: 100;
}

.row {
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: 5rem;
    margin-top: 5rem;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {
    float: left;
}

.row [class^="col-"] {
    margin: 0px 2rem;
}

.row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
}

/*all books*/

.all-books {
    padding-top: 70px;
    background-color: #F2F4F8;
}

.all-books__container {
}

.all-books__content {
    display: flex;
    flex-direction: column;
    text-align: center;

}

.all-books__title {
    font-size: 28px;
    font-weight: 700;
    color: #262626;
    font-family: "VKSansDisplay", sans-serif;
    letter-spacing: 1px;
    margin-bottom: 50px;

}

.all-books__filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    padding: 0px 20px;
}

.all-book__btns {
    flex: 1 1 75%;
    display: flex;
    justify-content: space-between;

}

.all-book__btn.btn--green {
    flex: 1 1 25%;
    color: #4D69FA;
    border: 2px solid #4D69FA;
    font-family: "VKSansDisplay", sans-serif;
    background-color: #fff;
}

.all-book__search {
    flex: 1 1 25%;
    display: flex;
    justify-content: end;
}

.all-book__input {
    background: #DBE1FE;
    font-size: 1.7em;
    padding: 10px 10px;
    border-radius: 5px;
    display: inline-block;
}

.all-book__search-btn {
    background: transparent;
    display: inline-block;
    cursor: pointer;
    color: var(--dark-background-color);
}

.all-book__search {
    position: relative;
    align-self: center;
}

.all-search__icon {
    color: var(--dark-background-color);
    font-size: 1.6em;
    position: absolute;
    top: 25%;
    right: 4%;
}

.all-book__form {
}


.all-books__row {
    width: 1000px;
}

/*add-book*/

.add-book {
    padding-top: 200px;
    background-color: #F2F4F8;
    height: 120vh;
}

.add-book__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-book_content {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "VKSansDisplay", sans-serif;
    letter-spacing: 1.5px;
}

.add-book_title {
    margin-bottom: 30px;
    font-size: 24px;
}

.add-book__form {
    display: flex;
    flex-direction: column;
}

.add-book__input {
    padding: 15px 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2) inset;
    margin: 10px 0px;

}


.add-book__input-file {
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
}

.add-book__input-file span {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    font-size: 14px;
    vertical-align: middle;
    color: rgb(255 255 255);
    text-align: center;
    border-radius: 4px;
    background-color: #419152;
    line-height: 22px;
    padding: 10px 20px;
    box-sizing: border-box;
    border: none;
    margin: 0;
    transition: background-color 0.2s;
    color: #4D69FA;
    border: 2px solid #4D69FA;
    background-color: #fff;
    text-align: center;
}

.add-book__input-file input[type=file] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
}

/* Focus */
.add-book__input-file input[type=file]:focus + span {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

/* Hover/active */
.add-book__input-file:hover span {
    background-color: #4D69FA;
    color: #fff;
}

.add-book__input-file:active span {
    background-color: #4D69FA;
}

/* Disabled */
.add-book__input-file input[type=file]:disabled + span {
    background-color: #eee;
}

.add-book__select {
    padding: 5px 10px;
    margin-bottom: 25px;
    margin-top: 10px;
}

.add-book__select option {
    padding: 5px 10px;
}

/*training1*/

.training1 {
    padding-top: 100px;
    background-color: #F2F4F8;
    height: 100vh;
}

.training1__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.training1__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px rgba(34, 60, 80, 0.2) inset;
}

.training1__title {
    margin-bottom: 25px;
    font-size: 32px;
}

.training1__form {
    display: flex;
    flex-direction: column;
    font-size: 24px;

}

.training1__word {
    margin-bottom: 25px;
}

.training1__radios {
    margin-bottom: 25px;
    display: flex;
}

.training1__radios input {
    padding: 5px 10px;
}

.training1__radios input::before {
    background-color: #000;
}

.form_radio_btn {
    display: inline-block;
    margin-right: 10px;
}

.form_radio_btn input[type=radio] {
    display: none;
}

.form_radio_btn label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-radius: 6px;
    user-select: none;
    transition: background-color 0.3s;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    background: #B8C3FD;
}

/* Hover */
.form_radio_btn label:hover {
    background-color: #DBE1FE;
    transition: background-color 0.3s;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}

