{% extends "base.html" %} {% block content %}

<div>
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            <h1>Добавление Книги</h1>
            {{ form.hidden_tag()}}
            <div>
                {{ form.file(class="form__data__file", type="file", id="formFile") }}
                <label for="formFile" class="form__data__file__label">
                    <svg xmlns="//www.w3.org/2000/svg" width="30" height="25" viewBox="0 0 20 17" style="">
                        <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                    </svg>
                 <span>Загрузить .epab </span>
                </label>
            </div>
            <div>
                {{ form.author(class="form__input", autocomplete="off", id="floatingInput", placeholder="Имя Автора") }}
            </div>
            <div>
                {{ form.title(class="form__input", autocomplete="off", id="floatingInput", placeholder="Название Книги") }}
            </div>
            <div>
                {{ form.difficult(class="form__data__select", autocomplete="off", id="floatingInput", placeholder="текст") }}
            </div>
            {{ form.submit(type="submit", class="button training__button") }} {% if message %}
            <div>
                <div>
                    <strong>Ошибка</strong>
                </div>
                <div>
                    {{ message }}
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>

{% endblock %}