{% extends "base.html" %}
{% block content %}

<div class="add-book">
    <div class="add-book__container">
        <div class="add-book_content">
            <div class="add-book_title">Добавление книги</div>
            <form class="add-book__form" action="" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag()}}
                <label class="add-book__input-file">
                    {{ form.file(class="form__data__file", type="file", id="formFile") }}
                    <span>Выберите файл</span>
                </label>
                {{ form.author(class="add-book__input", autocomplete="off", id="floatingInput", placeholder="Имя Автора") }}
                {{ form.title(class="add-book__input", autocomplete="off", id="floatingInput", placeholder="Название Книги") }}
                {{ form.difficult(class="add-book__select", autocomplete="off", id="floatingInput",
                placeholder="текст") }}
                {{ form.submit(type="submit", class="add-book__btn btn btn--green") }}
                {% if message %}
                <div>
                    <div>
                        <strong>Ошибка</strong>
                    </div>
                    <div>
                        {{ message }}
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>

{% endblock %}