<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>{{ title }}</title>
</head>

<body>
<div class="wrapper">
    <header class="header">
        <div class="header__container">
            <a href="" class="header__logo">
                <img src="../static/img/logo_header.png" alt="TatLib">
            </a>
            <div class="header__menu menu">
                <div class="menu__icon">
                    <span></span>
                </div>
                <nav class="menu__body">
                    <ul class="menu__list">
                        <li class="menu__item">
                            <a href="/books_and_texts/0" class="menu__link" data-goto=".hello">Книги</a>
                        </li>
                        <li class="menu__item">
                            <a href="/training/1" class="menu__link" data-goto=".about">Тренировки</a>
                        </li>
                        <li class="menu__item">
                            <a href="#" class="menu__link" data-goto=".skills">Мои слова</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
</div>
<script src="../static/js/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
<script src="../static/js/script.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>
</html>