{% extends "base.html" %} {% block content %}

<div>
    {% set levels = {1: "Легкая", 2: "Средняя", 3: "Сложная" } %}
    <div>
        <div>
            <a href="/add_text">+</a>
        </div>
        <div>
            <a href="/books_and_texts/0">Все</a>
        </div>
        <div>
            <a href="/books_and_texts/1">Легкие</a>
        </div>
        <div>
            <a href="/books_and_texts/2">Средние</a>
        </div>
        <div>
            <a href="/books_and_texts/3">Сложные</a>
        </div>
        <div>
            <form method="POST">
                <input class="input_search" type="text" name="field" autocomplete="off" placeholder="Поиск">
                <button type="submit" name="search" value="">
                    <ion-icon name="search-outline"></ion-icon>
                </button>
            </form>
        </div>
    </div>
    <div>
        <div>
            <div>Сложность</div>
            <div>Название</div>
            <div>Автор</div>
            <div>Страницы</div>
        </div>
        {% for book in books %}
        <div>
            <div>{{ levels[book.difficult_level] }}</div>
            <div><a href="/read_book/{{ book.id }}/1/null">{{ book.title }}</a></div>
            <div>{{ book.author }}</div>
            <div>{{ book.pages }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}