{% extends "base.html" %} {% block content %}
<div class="all-books">
    <div class="all-books__container">
        <div class="all-books__content">
            <div class="all-books__title">Библиотека книг</div>
            <div class="all-books__filters">
                <ul class="all-book__btns">
                    <li><a class="all-book__btn btn btn--green" href="/add_text">Добавить</a></li>
                    <li><a class="all-book__btn btn btn--green" href="/books_and_texts/0">Все</a></li>
                    <li><a class="all-book__btn btn btn--green" href="/books_and_texts/1">Легкие</a></li>
                    <li><a class="all-book__btn btn btn--green" href="/books_and_texts/2">Средние</a></li>
                    <li><a class="all-book__btn btn btn--green" href="/books_and_texts/3">Сложные</a></li>
                </ul>
                <div class="all-book__search">
                    <form method="POST" class="all-book__form">
                        <input class="all-book__input" type="text" name="field" autocomplete="off" placeholder="Поиск">
                        <button type="submit" name="search" value="" class="all-book__search-btn">
                            <ion-icon name="search-outline" class="all-search__icon"></ion-icon>
                        </button>
                    </form>
                </div>
            </div>
            <section class="section-plans" id="section-plans">
                <div class="row all-books__row">
                    {% for book in books %}
                    <div class="col-1-of-3">
                        <div class="card">
                            <div class="card__side card__side--front-1">
                                <div class="card__title card__title--1">
                                    <h4 class="card__heading">{{ book.title }}</h4>
                                </div>
                            </div>
                            <div class="card__side card__side--back card__side--back-1">
                                {% set levels = {1: "Легкая", 2: "Средняя", 3: "Сложная"} %}
                                <div class="card__details">
                                    <ul>
                                        <li>{{ book.author }}</li>
                                        <li>{{ levels[book.difficult_level] }}</li>
                                    </ul>
                                </div>
                                <div class="u-center-text u-margin-top-huge">
                                    <a href="/book_view" class="btn btn--green">Читать</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}