{% extends "base.html" %}
{% block content %}

<main class="main">
    <section class="full-screen">
        <div class="full-screen__body">
            <div class="full-screen__title">TatLib</div>
            <div class="full-screen__text">Изучай татарский язык по книгам</div>
            <div class="full-screen__circular-arrow"></div>
        </div>
        <video autoplay muted loop preload="auto" class="full-screen__video">
            <source type="video/mp4" src="../static/video/read.mp4">
        </video>
    </section>

    <section class="info">
        <div class="info__container">
            <div class="info__content">
                <div class="info__title">Чтобы начать читать книгу на татарском языке — выберите книгу
                </div>
                <section class="section-plans" id="section-plans">
                    <div class="row">
                        <div class="col-1-of-3">
                            <div class="card">
                                <div class="card__side card__side--front-1">
                                    <div class="card__title card__title--1">
                                        <h4 class="card__heading">Шәһре Биләрдә кунакта</h4>
                                    </div>
                                </div>
                                <div class="card__side card__side--back card__side--back-1">
                                    <div class="card__details">
                                        <ul>
                                            <li>Рухия Ахунҗанова</li>
                                            <li>Легкий уровень</li>
                                        </ul>
                                    </div>
                                    <div class="u-center-text u-margin-top-huge">
                                        <a href="/book_view" class="btn btn--green">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-of-3">
                            <div class="card">
                                <div class="card__side card__side--front-1">
                                    <div class="card__title card__title--1">
                                        <h4 class="card__heading">Җәмиләнең яшел күзләре</h4>
                                    </div>
                                </div>
                                <div class="card__side card__side--back card__side--back-1">
                                    <div class="card__details">
                                        <ul>
                                            <li>
                                                Раф Гази, Наргис Харасова
                                            </li>
                                            <li>Средний уровень</li>
                                        </ul>
                                    </div>
                                    <div class="u-center-text u-margin-top-huge">
                                        <a href="/book_view" class="btn btn--green">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-of-3">
                            <div class="card">
                                <div class="card__side card__side--front-1">
                                    <div class="card__title card__title--1">
                                        <h4 class="card__heading">Ак буре</h4>
                                    </div>
                                </div>
                                <div class="card__side card__side--back card__side--back-1">
                                    <div class="card__details">
                                        <ul>
                                            <li>Раф Гази</li>
                                            <li>Средний уровень</li>
                                        </ul>
                                    </div>
                                    <div class="u-center-text u-margin-top-huge">
                                        <a href="/book_view" class="btn btn--green">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-of-3">
                            <div class="card">
                                <div class="card__side card__side--front-1">
                                    <div class="card__title card__title--1">
                                        <h4 class="card__heading">Иса Утрау</h4>
                                    </div>
                                </div>
                                <div class="card__side card__side--back card__side--back-1">
                                    <div class="card__details">
                                        <ul>
                                            <li>Раф Гази</li>
                                            <li>Сложный уровень</li>
                                        </ul>
                                    </div>
                                    <div class="u-center-text u-margin-top-huge">
                                        <a href="#" class="btn btn--green">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-of-3">
                            <div class="card">
                                <div class="card__side card__side--front-1">
                                    <div class="card__title card__title--1">
                                        <h4 class="card__heading">Моабит дәфтәрләре</h4>
                                    </div>
                                </div>
                                <div class="card__side card__side--back card__side--back-1">
                                    <div class="card__details">
                                        <ul>
                                            <li>Муса Джалиль</li>
                                            <li>Средний уровень</li>
                                        </ul>
                                    </div>
                                    <div class="u-center-text u-margin-top-huge">
                                        <a href="/book_view" class="btn btn--green">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-of-3">
                            <div class="card">
                                <div class="card__side card__side--front-1">
                                    <div class="card__title card__title--1">
                                        <h4 class="card__heading">Балыкчы үрдәк</h4>
                                    </div>
                                </div>
                                <div class="card__side card__side--back card__side--back-1">
                                    <div class="card__details">
                                        <ul>
                                            <li>Ильдус Миннуллин</li>
                                            <li>Легкий уровень</li>
                                        </ul>
                                    </div>
                                    <div class="u-center-text u-margin-top-huge">
                                        <a href="/book_view" class="btn btn--green">Читать</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</main>


{% endblock %}