{% extends "base.html" %} {% block content %}

<div class="form">
    <div>
        <form action="" method="post">
            <h1>Авторизация</h1>
            {{ form.hidden_tag()}}
            <div>
                {{ form.login(class="", autocomplete="off", type="login", placeholder="login") }}
            </div>
            <div>
                {{ form.password(class="", autocomplete="off", type="password", placeholder="password") }}
            </div>
            {{ form.submit(type="submit", class="") }}
        </form>
        {% if message %}
        <div>
            <div>
                <strong>Ошибка</strong>
            </div>
            <div>
                {{ message }}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}