{% extends "base.html" %} {% block content %}

<div>
    <div>
        <div>
            {% for inform in items_list %}
            <div>
                <div>{{ inform[0] }}</div>
                <div>{{ inform[1] }}</div>
            </div>
            {% endfor %}
        </div>
        <div>
            <div>
                <a href="/words">Мои слова</a>
            </div>
            <div>
                <a href="/logout">Выйти</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}