{% extends "base.html" %} {% block content %}

<div class="form">
    <div>
        <form action="" method="post">
            <h1>Регистрация</h1>
            {{ form.hidden_tag()}}
            <div>
                {{ form.login(class="", autocomplete="off", placeholder="login") }}
            </div>
            <div>
                {{ form.email(class="", autocomplete="off", placeholder="email")}}
            </div>
            <div>
                {{ form.password(class="", autocomplete="off", type="password", placeholder="password") }}
            </div>
            <div>
                {{ form.password_again(class="", autocomplete="off", type="password", placeholder="password again") }}
            </div>
            <div>
                {{ form.tg_username(class="", autocomplete="off", placeholder="tg_username") }}
            </div>
            {{ form.submit(type="submit", class="button training__button") }}
        </form>
        {% if message %}
        <div>
            <div>
                <strong>Ошибка</strong>
            </div>
            <div>
                {{ message }}
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock %}