{% extends "base.html" %} {% block content %}

<div class="training1">
    <div class="training1__container">
        <div class="training1__content">
            <div class="training1__title">Тренировка</div>
            <form class="training1__form" action="" method="post">
                <div class="training1__word">{{ word }}</div>
                {{ form.hidden_tag()}}
                <div class="training1__radios">
                    {% for subfield in form.variants %}
                    <div class="form_radio_btn">
                        {{ subfield }}
                        {{ subfield.label }}
                    </div>
                    {% endfor %}
                </div>
                {{ form.submit(type="submit", class="training1__btn btn btn--green", value="Готово") }}
                {% if message %}
                <div>
                    <div>
                        <strong>Ошибка</strong>
                    </div>
                    <div>
                        {{ message }}
                    </div>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>


{% endblock %}