{% extends "base.html" %} {% block content %}

<div class="form">
    <div>
        <form action="" method="post">
            <h1>Тренировка 1</h1>
            {{ form.hidden_tag()}}
            {{ word }}
            <div>
                {% for subfield in form.variants %}
                <tr>
                    <td>{{ subfield }}</td>
                    <td>{{ subfield.label }}</td>
                </tr>
                {% endfor %}
            </div>
            {{ form.submit(type="submit", class="") }}
        </form>

        {% if message %}
        <div>
            <div>
                <strong>Ошибка</strong>
            </div>
            <div>
                {{ message }}
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}