{% extends "base.html" %} {% block content %}

<div>
    <div>
        <div>
            <div>
                <form method="POST">
                    <input type="text" name="field2" autocomplete="off" placeholder="Поиск">
                    <button type="submit" name="search2" value="">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>
                </form>
            </div>
            <div>
                <form method="POST">
                    <input type="text" name="field1" autocomplete="off" placeholder="Поиск">
                    <button type="submit" name="search1" value="">
                        <ion-icon name="search-outline"></ion-icon>
                    </button>
                </form>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th scope="col">Слово на татарском</th>
                    <th scope="col">Слово на русском</th>
                </tr>
            </thead>
            {% for word in words %}
            <tr>
                <td>{{ word.word_tat }}</td>
                <td>{{ word.word_ru }}</td>
                <td><a href="/del_word/{{word.word_tat}}">удалить</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}